[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
numpy = "*"
matplotlib = "*"
jupyter = "*"
scikit-image = "*"
scikit-fuzzy = "*"
jupyterthemes = "*"
black = "*"
jupyter-contrib-nbextensions = "*"
seaborn = "*"
autopep8 = "*"
pandoc = "*"
latex = "*"
nbconvert = "*"
weasyprint = "*"
sklearn = "*"
scipy = "*"
pandas = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
